@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway:wght@500;700;800&family=Roboto+Slab&display=swap');

.pricing__table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: no-repeat url(../img/pricing__bg.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; 
    height: 1035px;
    width: 100%;
}

.pricing__dividor{
    width: 32px;
    height: 2px;
    background-color: #2eb0ec;
}

.pricing__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title__h2{
    font-size: 18px;
    line-height: 24px;
    color: #7c7c7c;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    letter-spacing: 0.4px;
}

.pricing__title__h1{
    font-size: 24px;
    letter-spacing: 2px;
    color: #494949;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.7px;
}

.pricing__table__all{
    width: 320px;
    height: 580px;
    border-radius: 20px;
    background: no-repeat url(../img/table__bg.svg);
    border: 1px solid rgba(0,0,0,0.04); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablets{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

.table__professional{
    margin: 0 4.6%;
}

.icon__table__wrapper{
    padding-top: 36px;
}

.book__icon{
    width: 103.5%;
}

.table__content__h3{
    font-size: 16px;
    color: #494949;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    letter-spacing: 0.4px;
    padding-top: 10px;
}

.table__content__h4{
    font-size: 72px;
    color: #2eb0ec;
    font-weight: 800;
    font-family: "Raleway", serif;
    padding: 0 2.5%;
}

.table__content__h5{
    font-size: 20px;
    color: #2eb0ec;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;    
}

.table__content__text{
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center; 
    padding-top: 2px;
}

.inactive__features{
    color: #7c7c7c;
}

.sigin__up{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #66d4f4;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.content__price{
    display: flex;
    align-items: center;
    padding: 0 0 22px 11%;
}

.currency{
    padding-bottom:14px;
} 

.period{
    padding-top: 50px;
}

.table__content__price{
    padding-top: 42px;
}

.btn__sigin__up{
    padding-top: 45px;
}

.unlimited__content{
    letter-spacing: 0.1px;
    margin-top: 9px;
}

.unlimited__price{
    padding-left: 8%;
}

.unlimited__content__text{
    padding-right: 6px;
}